@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300);
body {
  font-family: 'Roboto', sans-serif;
}
.app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  height: 100px;
  line-height: 100px;
  margin:0;
  padding:0;
  text-align: center;
  font-weight: lighter;
}
.canvas {
  flex: 1;
  background-color: #EEE;
}
svg {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
svg.grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
svg g.node {
  cursor: move;
}
svg g.node .bg {
  fill: #FFF;
  stroke: rgba(0,0,0,0.3);
  stroke-width: 1;
}
svg g.node:hover .bg {
  stroke: rgba(0,0,0,0.7);
}
svg g.node.dragging .bg {
  fill: #EEE;
}
svg g.node.rendered .bg {
  transition: fill ease 0.3s;
}
